{% extends 'base.html' %}

{% load static %}

{% block title %}Sobre Nós{% endblock title %}

{% block content %}
{% include 'partials/_navbar.html' %}

<main style="background-color: rgb(229 231 235); padding-bottom: 30px;">
  <div class="text-center">
    <h2 class="fs-1 py-5">SOBRE NÓS</h2>
    <div class="fs-5" style="padding-left: 350px; padding-right: 350px">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porttitor consequat turpis, a consectetur dui finibus sit amet. Etiam at quam quis ex pulvinar vulputate. Fusce ultrices, lacus eget maximus vestibulum, felis nisi fringilla quam, et tristique dui nisl in odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc vitae aliquet mauris, vitae efficitur nisi. Vestibulum quis justo odio. Sed ut ligula a massa rutrum dapibus. Duis nunc neque, sollicitudin quis enim a, eleifend mollis ipsum. Cras molestie ante vulputate mauris volutpat, eget scelerisque odio iaculis. Donec eu risus euismod leo varius ultricies. Curabitur ligula mi, tincidunt quis erat at, molestie mollis augue. Pellentesque pulvinar dolor massa, eu gravida est interdum a. Etiam eget venenatis neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus ut eros vel tellus scelerisque imperdiet a ac augue. Suspendisse sagittis mollis lacinia.
        </p>
        <p>Aliquam eget sapien ut augue porta maximus at non ante. Suspendisse vitae arcu quam. Fusce varius consectetur est id pretium. Suspendisse porttitor pulvinar ex, rhoncus dictum tortor finibus a. Nam bibendum dolor vel diam lacinia convallis. Donec sagittis, leo in gravida volutpat, leo sem viverra libero, in convallis eros mauris dapibus risus. Praesent magna orci, tempus a tristique a, sollicitudin at lectus. Curabitur sit amet fringilla libero.</p>
        <p>Duis elementum interdum dui, eu interdum felis ultricies vel. Nam quis purus et erat sagittis maximus. Nulla sagittis neque nec ornare imperdiet. Sed a turpis nulla. Donec sagittis libero felis, vel cursus dolor blandit ut. Donec porttitor vel erat sed lacinia. Aliquam tempor aliquam orci eget auctor. Pellentesque nec nunc tellus.</p>
        
    </div>
  </div>
</main>

{% include 'partials/_footer.html' %}
{% endblock %}